<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Orion Innovations</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nivo-lightbox.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nivo_themes/default/default.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style type="text/css">
    .fontp {
      font-size: 20px;
      margin: 0px;
      text-indent: 50px;
      letter-spacing: 5px;
      line-height: 200%;
      font-family: "YouYuan";
      color: black;
    }
    .fonth {
      font-family: "YouYuan";
      color: black;
    }
    .marginp {
      margin: 150px;
    }
  </style>
</head>
<body>
  <div class="marginp">
    <h1 class="fonth">公司简介</h1>
    <p class="text-left fontp">
      浙江奥新智能科技有限公司是一家由国家千人计划创新专家领衔的初创公司，从事室内高精度实时定位技术
      开发和应用。技术主要特点是精度高，容易安装/维护，并且同一个网络可同时对智能设备以及微型标签定位。
      多项创新技术源自10多年来在大学的大量投入和开发，并用于波音(飞机制造线自动化)，英特尔(物联网)，
      天保导航(建筑测量)，美国NSF(智慧养老)，Alpha基金(地下矿场自驾车)等资助的应用。目前致力于开发基
      于位置的人员/物品智能化管理和室内位置大数据。</p>
    <p class="text-left fontp">
      公司负责人是国家千人计划创新专家。也是美国一所著名公立大学电气工程学科终身正教授，已经培养了26名
      博士（含6名同国内联合培养的博士）和28名硕士。在无线通信和信号处理领域里他的团队发表杂志论文104
      篇和国际会议论文和专著章节90篇， 并出版专著一部。他目前致力于把十多年来在大学开发出来的一套室内
      射频定位技术商业化。
    </p>
  </div>


<!-- JS -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.parallax.js') }}"></script>
<script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/nivo-lightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>
