<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Insert title here</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom-styles.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.actual.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
</head>
<body>
  <div>
    <nav class="top-head">
      <div class="headPadding navbar-header selecta">
        <span id="navHead1">系统介绍</span>
        <div class="box">
          <div class="top-head">
            <a>定位系统</a>
            <a>点名系统</a>
            <a>监狱系统</a>
            <a>工厂系统</a>
          </div>
				</div>
      </div>
      <div id="" class="headPadding navbar-header selecta">
        <span id="navHead2">使用说明</span>
        <div class="box">
          <div class="top-head">
					  <a>上传地图</a>
					  <a>校准地图</a>
					  <a>定位操作</a>
					  <a>历史轨迹</a>
          </div>
				</div>
      </div>
      <div id="" class="headPadding navbar-header selecta">
        <span id="navHead3">注意事项</span>
      </div>
      <div id="" class="headPadding navbar-header selecta">
        <span id="navHead4">关于奥新</span>
      </div>
      <div id="" class="headPadding navbar-header selecta">
        <span id="navHead5">联系我们</span>
      </div>
    </nav>
    <div class="languageB selecta">
      <span id="orionChinese">中文</span>&nbsp;&nbsp;<span id="orionEnglish">English</span>
    </div>
    <nav id="nav1" class="navbar navbar-default top-navbar" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand"><strong>室内定位系统</strong></a>
      </div>
    </nav>
    <nav id="nav2" class="navbar-default navbar-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
          <li>
            <a id="homeButton" href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首页</a>
          </li>
          <li>
            <a id="fixButton" href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;定位</a>
          </li>
		  <!--<li>
            <a id="rollButton" href="javascript:void(0)" onclick="jumpRollC()"><i class="fa fa-desktop"></i>点名（hava a roll call of pupils）</a>
          </li>-->
        </ul>
      </div>
    </nav>


    <div id="page-wrapper">
      <div id= "homeH" class="header">
        <h1 class="page-header">
          室内定位系统<small>请上传地图</small>
        </h1>
        <ol id="" class="breadcrumb borderRadiusHead">
          <li><a>首页</a></li>
          <li class="active">准备工作</li>
        </ol>
      </div>
      <div class="header">
        <form id="f1" class="form-inline panel panel-heading" method="post" enctype="multipart/form-data">
          <div class="file-container" style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
            <button id="uploadB" class="btn btn-default fileinput-button" type="button">上传</button>
            <input id="fileBackground" type="file" name="file" onchange="loadFile(this.files[0])" style="width: 210px; position:absolute;top:0;left:0;font-size:34px; opacity:0">
          </div>
          <span id="fileName" style="vertical-align: middle">未上传文件</span>
          <div class="form-group">
            <button id="backgroundSubmit" type ="button" class="btn btn-default fileinput-button">提交</button>
          </div>&nbsp;&nbsp;&nbsp;
          <button id="setB" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-exclamation-sign">校准地图</span>
          </button>
        </form>
      </div>
      <div class="page-inner">
      </div>
    </div>


    <div id="page-set">
      <div class="header">
        <h1 id="preparationsHead" class="page-header">
          准备工作 <small>请确定参照点以及绑定标签</small>
        </h1>
      </div>
      <div class="header">
        <form class="form-inline panel panel-heading" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleInputName2">x</label>
            <input type="text" class="form-control" style="width: 100px" id="xA">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">y</label>
            <input type="text" class="form-control" style="width: 100px" id="yA">
          </div>
          <button id="confirmP1" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-screenshot">第一点</span>
          </button>
          <button id="confirmP2" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-screenshot">第二点</span>
          </button>
          <button id="confirmF" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-ok">确定</span>
          </button>&nbsp;&nbsp;&nbsp;
          <div class="form-group">
            <label id="inputNameEn" for="exampleInputEmail2">输入姓名</label>
            <input type="text" class="form-control" style="width: 120px" id="nameT">
          </div>
          <select id="selectI" name="">
          </select>
          <button id="confirmN" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-ok">绑定</span>
          </button>
          <button id="leaveS" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-share-alt">返回</span>
          </button>
        </form>
      </div>
      <div class="page-inner">
        <div class="row">
          <div class="col-md-12">
          <!-- Advanced Tables -->
            <div class="panel panel-default">
              <div id="preparationsP" class="panel-heading">
                地图
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <div class="relative center-block">
                    <canvas id="canvasSet" class="canvasBackground0">Your browser does't support canvas.</canvas>
                    <canvas id="canvasPoint" class="canvasBackground0" style="z-index: 1000;cursor: crosshair;">Your browser does't support canvas.</canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer><p>Orion &copy; 2017.Orion.<a target="_blank">奥新智能</a></p>
        </footer>
      </div>
    </div>

    <div id="page-fixP">
      <div id="fixPH" class="header">
        <h1 class="page-header">
          定位<small>为多个标签定位</small>
        </h1>
        <ol class="breadcrumb borderRadiusHead">
          <li><a>首页</a></li>
          <li class="active">定位</li>
        </ol>
      </div>
      <div class="header">
        <form class="form-inline panel panel-heading">
          <!--<div class="form-group">
            <label for="exampleInputName2">班级</label>
            <input type="text" class="form-control" id="" >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">姓名</label>
            <input type="text" class="form-control" id="" >
          </div>
         -->
          <button id="positionsB" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-play">开始定位</span>
          </button>
          <button id="pauseB" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pause">暂停</span>
          </button>
          <button id="trackB" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-circle-arrow-right">显示轨迹</span>
          </button>
          <button id="zoomB1" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-resize-full">定位缩放</span>
          </button>
          <button id="zoomB2" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-resize-full">轨迹缩放</span>
          </button>
          <div class="input-group date" id="datetimePicker1">
            <input id="datetimeP1"type="text" class="form-control" style="width: 155px"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <span class="glyphicon glyphicon-sort"></span>
          <div class="input-group date" id="datetimePicker2">
            <input id="datetimeP2" type="text" class="form-control" style="width: 155px"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <button id="historyTrackB" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-repeat">历史轨迹</span>
          </button>
        </form>
      </div>

      <div class="page-inner">
        <div id="page-inner1" class="row">
          <div id="map1">
          <!-- Advanced Tables -->
            <div class="panel panel-default borderRadius">
              <div id="positionHead" class="panel-heading borderRadiusTop">
                地图
                <div id="zoomN" style="position: relative; float: right"></div>
              </div>
              <div class="panel-body">
                <div id="wrapper" class="table-responsive">
                  <div class="relative center-block">
                    <canvas id="canvas0" class="canvasBackground0">Your browser does't support canvas.</canvas>
                    <canvas id="canvas1" class="canvasBackground1">Your browser does't support canvas.</canvas>
                    <canvas id="canvas2" class="canvasBackground2">Your browser does't support canvas.</canvas>
                    <canvas id="canvas" class="canvasBackground">Your browser does't support canvas.</canvas>
                    <canvas id="myCanvas0" class="fixPosition center-block">Your browser does't support canvas.</canvas>
                    <canvas id="myCanvas1" class="fixPosition center-block">Your browser does't support canvas.</canvas>
                    <canvas id="myCanvas2" class="fixPosition center-block">Your browser does't support canvas.</canvas>
                    <canvas id="myCanvas3" class="fixPosition center-block">Your browser does't support canvas.</canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="selectA">
            <form>
              <div class="row" style="padding: 0px 15px">
                <button id="radio" type="button" class="btn btn-default col-xs-6">
                  <span class="">全选</span>
                </button>
                <button id="multiple" type="button" class="btn btn-default col-xs-6">
                  <span class="">重置</span>
                </button>
              </div>
            </form>
            <div class="panel overf borderRadiusBottom">
              <div class="panel-body">
                <div id="select" style='white-space: nowrap'>
                  <form class="form-inline">
                    <div id="selectAdd" ></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer><p>Orion&copy; 2017.Orion.<a target="_blank">奥新智能</a></p>
        </footer>
      </div>
    </div>


    <div id="page-rollC">
      <div class="header">
        <h1 class="page-header">
          点名<small>学生点名</small>
        </h1>
        <ol class="breadcrumb borderRadius">
          <li><a>首页</a></li>
          <li class="active">点名</li>
        </ol>
      </div>
      <div class="page-inner">
        <div class="row">
          <div class="col-md-12">
          <!-- Advanced Tables -->
            <div class="panel panel-default">
              <div class="panel-heading">
                教室平面图
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <div class="relative center-block">
                    <div class="rollCall center-block"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="foot">
        <!-- Links -->
        <div class="row">
          <div class="col-md-4">
            <ul>
              <li><a ><i class="fa fa-dashboard"></i>Home</a></li>
              <li><a ><i class="fa fa-dashboard"></i>Careers</a></li>
              <li><a ><i class="fa fa-dashboard"></i>Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul >
              <li><a ><i class="fa fa-dashboard"></i>Privacy Policy</a></li>
              <li><a ><i class="fa fa-dashboard"></i>Terms &amp; Conditions</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 >Orion</h3>
            <p >Orion.
            </p>
            <div >
            <a ></a>
            <a ></a>
            </div>
          </div>
        </div>
        <!-- End Links -->

        <!-- Copyright -->
        <div >
          <div class="row">
            <div >
              <a >
                <img >
              </a>
            </div>
            <div>
              <p >© 2017  All Rights Reserved.</p>
            </div>
          </div>
        </div>
            <!-- End Copyright -->
        </footer>
    </div>


  </div>
  <script type=text/javascript>
    map_img = "{{ url_for('static', filename='img/position.png') }}";
    point_img = "{{ url_for('static', filename='img/marker.png') }}";
  </script>
  <script src="{{ url_for('static', filename='js/set.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
